<html xmlns:th="http://www.thymeleaf.org">
<body>

	

	<div>
		<form method="POST" enctype="multipart/form-data" action="/">
			<table>
				<tr><td>File to upload:</td><td><input type="file" name="file" /></td></tr>
				<tr><td></td><td><input type="submit" value="Upload" /></td></tr>
			</table>
		</form>
	</div>
	
	<div th:if="${message}">
		<h2 th:text="${message}"/>
	</div>
	
	<div>
			<table>
				<!-- <tr th:each="file : ${files}"><td th:text="${file.filename}">API Name</td><td><a th:href="${file.path}" th:text="${file.filename}" /></td></tr> -->
			</table>
	</div>
	<div>
		<ul>
			<li th:each="file : ${files}">
				<a th:href="${file.path}" th:text="${file.filename}" />
			</li>
		</ul>
	</div>

</body>
</html>
